@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .stats {
      @apply  text-white p-4 flex-1 rounded-md border-[#004337] border-2

  }
  .stats-container {
      @apply  p-5 rounded-lg border-[#004337] border
  }

  .countdown {
      @apply p-8 text-5xl text-center text-white rounded-lg lg:min-w-[150px] 

  }

  .countdown-label {
      @apply text-center text-white uppercase text-sm pt-4
  }

  .admin-button {
    @apply bg-[$091F1C] p-2 flex-1 rounded-md border-[#004337] border-2 hover:bg-emerald-500/50
  }

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  @keyframes slow-ping {
    0% {
      transform: scale(0.4);
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0%, 90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  
  .animate-slow-ping {
    animation: slow-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite, fadeOut 11s forwards 11s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  

@font-face {
  font-family: 'Alx';
  src: url('/fonts/conthrax-sb.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.special-section {
  font-family: 'Alx', Arial, sans-serif;
}

@font-face {
  font-family: 'TT';
  src: url('/fonts/conthrax-sb.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body, h1, h2, h3, p, button {
  font-family: 'TT', Arial, sans-serif;
}

.no-select {
  user-select: none;
  cursor: default;
}

.video-background {
  position: relative;
  overflow: hidden; /* To ensure video stays within bounds */
  width: 100%;
  height: 100vh; /* Change to desired height if not full screen */
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover; /* To ensure video covers the entire space */
}

.video-content {
  position: relative; /* Content goes on top of the video */
  z-index: 1;
}
}

