@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  :root {
    --foreground-rgb: 255, 255, 255; 
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; 
  }

    
    @media (prefers-color-scheme: dark) {
      :root {
        --foreground-rgb: 255, 255, 255; /* white for dark mode */
        --background-start-rgb: 0, 0, 0; /* black for dark mode */
        --background-end-rgb: 0, 0, 0; /* slightly lighter black for dark mode */
      }
    }
  
  
    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    }
  
  @keyframes slow-ping {
    0% {
      transform: scale(0.4);
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0%, 90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  
  .animate-slow-ping {
    animation: slow-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite, fadeOut 11s forwards 11s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  

@font-face {
  font-family: 'Alx';
  src: url('/fonts/conthrax-sb.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.special-section {
  font-family: 'Alx', Arial, sans-serif;
}

@font-face {
  font-family: 'TT';
  src: url('/fonts/conthrax-sb.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body, h1, h2, h3, p, button {
  font-family: 'TT', Arial, sans-serif;
}

.no-select {
  user-select: none;
  cursor: default;
}

}

